.header {
  display: flex;
  background-color: #003585;
  height: 100px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
#searchBar {
  width: 532px;
  height: 48px;
  border-radius: 20px 0px 0px 20px;
  border: none;
}
.header button {
  width: 132px;
  height: 48px;
  border-radius: 0px 20px 20px 0px;
  background-color: #ff8957;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  border: none;
  cursor: pointer;
}
.header button:hover {
  background-color: #eb682f;
}
.header button:active {
  transform: translateY(1px);
}
.sign-in {
  color: #fff;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}
.header-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
.cart {
  display: flex;
  gap: 3px;
}
.cart p {
  color: #fff;
  background-color: #eb682f;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
}
