.blog {
  display: flex;
  align-items: center;
}
.logos {
  display: flex;
}
.blog-box {
  display: flex;
}
svg {
  margin: 10px;
}
.blog-h1 {
  font-weight: 700;
  font-size: 52px;
  color: #d05270;
  margin: 0;
}
.blog-h2 {
  font-weight: 500;
  font-size: 52px;
  margin-top: 12px;
}
.blog-p {
  font-weight: 400;
  font-size: 18px;
  margin-top: 36px;
  margin-bottom: 36px;
}
