header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header ul {
  display: flex;
  gap: 20px;
}
.logo {
  display: flex;
  gap: 10px;
}
header ul li {
  font-weight: 600;
  font-size: 14px;
  list-style: none;
  color: #424242;
}
header ul li:hover {
  color: #5a47ab;
  cursor: pointer;
}
